{
  "extends": "airbnb",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "indent":["error", 2],
    "semi": [2, "always"],
    "quotes": ["error", "single"],
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "click-events-have-key-events": "off"
  }   
}